# Discord token, required
DISCORD_TOKEN="..."
# Discord Bot Application ID, required
DISCORD_APPLICATION_ID=".."
# Discord test guild ID, optional, if not specified no guild commands will be registered
DISCORD_TEST_GUILD_ID=".."

# Postgres URL, optional, if specified all other Postgres values will be ignored
POSTGRES_URL="..."
# Postgres hostname, default is localhost, optional
POSTGRES_HOST="localhost"
# Postgres port, default is 5432, optional
POSTGRES_PORT=5432
# Postgres username, required
POSTGRES_USERNAME="..."
# Postgres password, required
POSTGRES_PASSWORD="..."
# Postgres database, required
POSTGRES_DATABASE="..."

# Redis hostname, usually the name of the service in docker-compose.yml, default is localhost, optional
REDIS_HOST="cache"
# Redis port, default is 6379, optional
REDIS_PORT=6379
# Redis password, default is none, optional
REDIS_PASSWORD=""
# Redis database, default is 0, optional
REDIS_DATABASE=0

# Shard count, required
SHARD_COUNT=2
# Shards per worker, required
SHARDS_PER_WORKER=8

# Log level, default is 3, optional
# 0 = Fatal, 1 = Error, 2 = Warn, 3 = Info, 4 = Debug, 5 = Silly
LOG_LEVEL=5
